# Runtime data
*.seed

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# TypeScript cache
tsconfig.tsbuildinfo

#Build 
dist

# Logs
*.log

# Optional npm cache directory
.npm

# dotenv environment variable files
.env
.env.*
!.env.example

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
database.db